<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>{"ts":"%d","level":"%level","thread":"%thread","logger":"%logger","correlationId":"%X{correlationId}","msg":"%msg"}%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
